.centered {
  display: flex;
  justify-content: center;
}

.arranged {
  display: flex;
  flex-direction: row;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  height: 300px;
}

.small-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 10px;
}

.row {
  display: flex;
  justify-content: space-between;

  flex-direction: row;
}

.box {
  border: 0;
  padding: 40px;
}
